#
# Copyright (C) 2024 The LineageOS Project
#
# SPDX-License-Identifier: Apache-2.0
#

insmod normal

insmod gfxmenu
insmod gfxterm_background

insmod android_bootimg_fs
insmod chain
insmod echo
insmod linux
insmod loadenv
insmod test

search.fs_label PERSIST partition_persist (hd0,gpt4) (hd0,gpt9) (hd1,gpt4) (hd1,gpt9) (hd2,gpt4) (hd2,gpt9)
set partition_persist="(${partition_persist})"
export partition_persist

# Match and set disk name using the ugly way, as there is no way to extract substring from string yet...
if [ "$partition_persist" = "(hd2,gpt4)" ]; then
	set disk_boot=hd2
elif [ "$partition_persist" = "(hd2,gpt9)" ]; then
	set disk_boot=hd2
elif [ "$partition_persist" = "(hd1,gpt4)" ]; then
	set disk_boot=hd1
elif [ "$partition_persist" = "(hd1,gpt9)" ]; then
	set disk_boot=hd1
else
	set disk_boot=hd0
fi
export disk_boot

if [ "@AB_OTA_UPDATER@" = "true" ]; then
	load_env -f ${partition_persist}/grubenv_abootctrl abootctrl_global_active_slot
	if [ ! "$abootctrl_global_active_slot" ]; then
		set abootctrl_global_active_slot=a
	fi
	set ab_kernel_cmdline="androidboot.slot_suffix=_${abootctrl_global_active_slot}"
fi

set gfxmode=1024x768
if [ "$grub_platform" = "efi" ]; then
	set grub_gfx_module="efi_gop"
elif [ "$grub_platform" = "pc" ]; then
	set grub_gfx_module="vbe"
fi
if insmod $grub_gfx_module; then
	terminal_output gfxterm
	loadfont /boot/grub/fonts/unicode.pf2

	insmod gfxmenu
	insmod jpeg
	insmod png
	insmod tga

	if [ "$do_not_load_theme" != "true" ]; then
		set android_theme=1 # Light
		if [ -f /boot/grub/themes/@BOOTMGR_THEME@/theme.cfg ]; then
			source /boot/grub/themes/@BOOTMGR_THEME@/theme.cfg
		fi
	fi
fi

loopback boot /boot.img
loopback vendor_boot /vendor_boot.img

source /.grub_kernel_version.cfg

menuentry "Install @BOOTMGR_ANDROID_DISTRIBUTION_NAME@ ${kernel_version_display}" --class monitor-arrow-down {
	echo 'Loading parameters...'
	source (boot)/boot-info.cfg
	source (vendor_boot)/vendor_boot-info.cfg
	source (vendor_boot)/vendor_boot-ramdisk-fragment-info.cfg
	echo 'Loading kernel...'
	linux (boot)/kernel $android_boot_img_cmdline $android_vendor_boot_img_cmdline $ab_kernel_cmdline @STRIPPED_BOARD_KERNEL_CMDLINE@ @STRIPPED_BOARD_KERNEL_CMDLINE_RECOVERY@ @STRIPPED_BOARD_KERNEL_CMDLINE_INSTALL@ androidboot.mode=recovery androidboot.install=1
	echo 'Loading recovery ramdisk...'
	eval initrd (boot)/ramdisk.img ${android_vendor_boot_img_ramdisk_fragment_platform_list} ${android_vendor_boot_img_ramdisk_fragment_recovery_list} ${android_vendor_boot_img_ramdisk_fragment_dlkm_list} (vendor_boot)/bootconfig.bin
}

menuentry "Boot from disk" --class harddisk {
	if [ "$grub_platform" = "efi" ]; then
		echo 'Searching for EFI System Partition...'
		search --file --efidisk-only --set=android_esp_device /boot/grub/.is_esp_part_on_android_boot_device
		echo 'Chainloading from EFI System Partition...'
		chainloader (${android_esp_device})/EFI/BOOT/@BOOTMGR_EFI_BOOT_FILENAME@
	elif [ "$grub_platform" = "pc" ]; then
		echo "Chainloading from ${disk_boot}..."
		chainloader (${disk_boot})+1
	fi
}
