service dhcpclient /system/bin/virt_dhcpclient -i ${vendor.recovery.ethernet.dhcp.iface:-eth0}
    user root
    group root
    seclabel u:r:dhcpclient:s0
    oneshot
    disabled

service preinstall_check /system/bin/preinstall_check
    user root
    group root system graphics
    seclabel u:r:recovery:s0
    oneshot
    disabled

on early-init && property:ro.boot.install=1
    stop recovery

on early-fs
    symlink /dev/block/by-name/BIOS /dev/block/by-name/BIOS_a
    symlink /dev/block/by-name/BIOS /dev/block/by-name/BIOS_b
    symlink /dev/block/by-name/EFI /dev/block/by-name/EFI_a
    symlink /dev/block/by-name/EFI /dev/block/by-name/EFI_b

on fs
    mkdir /mnt/vendor/EFI 0770 root root
    mount vfat /dev/block/by-name/EFI /mnt/vendor/EFI rw shortname=lower uid=0 gid=0 dmask=007 fmask=117 context=u:object_r:efi_file:s0
    exec u:r:vendor_efi_update_default_sh:s0 -- /system/bin/sh -e /system/bin/refind-update-default_selection.sh
    umount /mnt/vendor/EFI

    mkdir /mnt/vendor/_persist 0770 root root
    mount vfat /dev/block/by-name/persist /mnt/vendor/_persist rw sync shortname=lower uid=1000 gid=1000 dmask=007 fmask=117 context=u:object_r:persist_file:s0

on early-boot
    start vendor.boot-default

    ifup ${vendor.recovery.ethernet.dhcp.iface:-eth0}
    start dhcpclient

on boot && property:ro.boot.install=1
    start preinstall_check

on property:ro.boot.install=1 && property:vendor.preinstall_check.success=1
    enable recovery

on property:ro.boot.install=1 && property:vendor.create_partition_table.finish=1
    exec u:r:flash_persist_partition:s0 -- /system/bin/sh -e /system/bin/flash_persist_partition.sh
    mount vfat /dev/block/by-name/persist /mnt/vendor/_persist rw sync shortname=lower uid=1000 gid=1000 dmask=007 fmask=117 context=u:object_r:persist_file:s0
